/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
*/
a {
  color: #00B7FF;
}
/* .alert{
    display: none;
} */
h1{
     word-wrap: break-word;
     -webkit-hyphens: auto;
     -moz-hyphens: auto;
     -ms-hyphens: auto;
     -o-hyphens: auto;
     hyphens: auto;
}
.error{
    margin: 0;
}
nav{
    background-color: #e3f2fd;
}
h3{
    text-align: center;
}
